In [2]:
# Series and dataframes
# series is a column with header and dataframe is a sheet with columns, column headers and rows)

high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for i in high_schools:
    print(i)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [9]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for i in high_school_types:
    print(high_school_types.index(i), i)

0 {'High School': 'Griffin', 'Type': 'District'}
1 {'High School': 'Figueroa', 'Type': 'District'}
2 {'High School': 'Wilson', 'Type': 'Charter'}
3 {'High School': 'Wright', 'Type': 'Charter'}

In [15]:
#List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
high_schools

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [17]:
import pandas as pd
# diff between series and lists is that you can control the index
school_series = pd.Series(high_schools, index=[1,2,3,0,4,5,6,7,8,9,10,11,12,13,14])
school_series

1         Huang High School
2      Figueroa High School
3       Shelton High School
0     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [26]:
# operation on series can impact all elements unlike lists
print (school_series+" cannot do this with lists")
print (high_schools+[" can only add to a certain location"])

1         Huang High School cannot do this with lists
2      Figueroa High School cannot do this with lists
3       Shelton High School cannot do this with lists
0     Hernandez High School cannot do this with lists
4       Griffin High School cannot do this with lists
5        Wilson High School cannot do this with lists
6       Cabrera High School cannot do this with lists
7        Bailey High School cannot do this with lists
8        Holden High School cannot do this with lists
9          Pena High School cannot do this with lists
10       Wright High School cannot do this with lists
11    Rodriguez High School cannot do this with lists
12      Johnson High School cannot do this with lists
13         Ford High School cannot do this with lists
14       Thomas High School cannot do this with lists
dtype: object
['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School', ' can only add to a certain location']

In [18]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [17]:
#create df from a list of dictionaries
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [29]:
# Create a DF from Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [32]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [33]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [34]:
schools_df["School name"] = school_name
schools_df["Type"] = type_of_school

In [35]:
schools_df

   School ID            School name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [55]:
# Create a dictionary of information on high schools.
school_dict = {"School ID":school_id, "School Name": school_name, "Type": type_of_school}
print(school_dict)

{'School ID': [0, 1, 2, 3, 4], 'School Name': ['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School'], 'Type': ['District', 'District', 'Charter', 'District', 'Charter']}

In [56]:
schools_df = pd.DataFrame.from_dict(school_dict)

In [58]:
print(schools_df)

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [60]:
schools_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [67]:
# call a column like a func wiht no arguments required
schools_df.Type

0    District
1    District
2     Charter
3    District
4     Charter
Name: Type, dtype: object

In [73]:
print("Index:") # unlike dict, df has index (which can be default or a column like primary key)
print(schools_df.index)
print("Values:")
print(schools_df.values)

Index:
RangeIndex(start=0, stop=5, step=1)
Values:
[[0 'Huang High School' 'District']
 [1 'Figueroa High School' 'District']
 [2 'Shelton High School' 'Charter']
 [3 'Hernandez High School' 'District']
 [4 'Griffin High School' 'Charter']]